<div class="row">
    <!-- Banner con imagen cielo estrellado -->
    <div class="col-12 banner-cielo">

        <!-- Bontón ir al inicio -->
        <div class="col-12 d-flex align-items-center btn-inicio">
            <img src="assets/images/home-body.png" alt="Inicio" class="icon">
            <a href="" class="text-inicio ms-2">Ir al inicio</a>
        </div>

        <!-- Texto principal, secundario y card -->
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-12 text-main text-center">
                <span>¡Tu objetivo a sido agregado exitosamente!</span>
            </div>
            <div class="col-12 text-sec text-center">
                <span>¡Te hemos enviado un correo con la notificación!</span>
            </div>

            <!-- Card principal -->
            <div class="col-sm-8 col-md-6 col-lg-4 rounded shadow card-main">
                <div class="row d-flex justify-content-between pt-3">
                    <div class="col-sm-12 col-lg-6 items-card-span">
                        <span class="text-card-main">Conocer a mi sobrino</span>
                    </div>
                    <div class="col-sm-12 col-lg-6 items-card-link">
                        <a href="#" class="text-card-link">Revisar objetivo</a>
                    </div>

                    <div class="col-sm-12 col-lg-6 items-card-span">
                        <span class="text-card-sec">Categoría: Bienestar</span>
                    </div>
                    <div class="col-sm-12 col-lg-6 "></div>
                </div>

                <div class="row d-flex justify-content-around pt-3 text-center">
                    <div class="col-sm-12 col-lg-3 tag-card">
                        <span>En esta fecha:</span>
                        <p class="rounded" style="background-color: #A5D7E1;">
                            Diciembre/2025
                        </p>
                    </div>
                    <div class="col-sm-12 col-lg-3 tag-card">
                        <span>Lograrás</span>
                        <p class="rounded" style="background-color: #FECD72;">
                            $6.000.000
                        </p>
                    </div>
                    <div class="col-sm-12 col-lg-3 tag-card">
                        <span>En esta fecha:</span>
                        <p class="rounded" style="background-color: #95DBB7;">
                            $0
                        </p>
                    </div>
                </div>

                <div class="row align-items-center pt-1">
                    <div class="col-sm-12 col-lg-9">
                        <img src="assets/images/check.png" alt="">
                        <a href="#" class="text-card-footer ms-2">¡Asocia productos para monitorear su progreso!</a>
                    </div>

                    <div class="col-sm-12 col-lg-3 text-end p-0 m-0 rounded">
                        <img src="assets/images/montania.png" alt="Montaña con bandera"
                            style="width: 120px; border-bottom-right-radius: .3rem;">
                    </div>
                </div>
            </div>

            <!-- Texto del body -->
            <div class="row pt-5">
                <div class="col-12">
                    <div class="col-12 text-body text-center text-body-main">
                        <p>
                            ¡Vamos a por esos <span class="text-body-important">$6.000.000</span> para <span
                                class="text-body-important"> Conocer mi Sobrino</span>!
                        </p>
                    </div>
                    <div class="col-12 text-body text-center text-body-secondary">
                        <p>
                            ¡A través de tus productos y nuestros rendimientos podremos lograrlo!
                        </p>
                        <p class="fw-bold">
                            Asocia tus productos o adquiere uno nuevo. <img src="assets/images/pregunta-cuadro.png"
                                alt="">
                        </p>
                    </div>
                </div>
            </div>

            <!-- Carrusel con cards -->
            <div class="carrusel-container position-relative mb-5">

                <!-- Botón para correr el carrusel a la izquierda (habilitado y deshabilitado) -->
                <img src="assets/images/btn-izq.png" alt="Botón izquierda" class="carrusel-btn carrusel-btn-left" (click)="moverIzquierda()" *ngIf="currentTranslate != 0">
                <img src="assets/images/btn-izq-disabled.png" alt="Botón izquierda" class="carrusel-btn carrusel-btn-left" *ngIf="currentTranslate === 0">

                <div #carrusel class="carrusel-track d-flex" [ngStyle]="{'transform': 'translateX(' + currentTranslate + 'px)'}">
                    
                    <!-- Iteración de arreglo de productos para crear las cards -->
                    <div #cardCarrusel class="carrusel-card shadow border" *ngFor="let producto of lstProductosCard; let i = index" 
                        style="border-bottom: 3px solid #A4D071 !important;">
                        <div class="row">
                            <div class="col-12 mb-4">
                                <input class="form-check-input float-end" type="checkbox" value="" id="checkDefault">
                            </div>
                            <div class="col-12 carrusel-card-title">
                                <span>{{producto.nameProduct}}</span>
                            </div>
                            <div class="col-12 carrusel-card-subtitle mb-4">
                                <span>#{{producto.numberProduct}}</span>
                            </div>

                            <!-- Separador -->
                            <hr> 

                            <div class="col-12 carrusel-card-title mt-2">
                                <span>Ya cuentas con:</span>
                            </div>
                            <div class="col-12 carrusel-card-value">
                                <span>${{producto.balanceProduct | number}}</span>
                            </div>
    
                            <div class="col-12 card-secondary-carrusel">
                                <div class="row text-center">
                                    <div class="col-12 image-container">
                                        <img [src]="i == 0 ? 'assets/images/feliz.png' : i == 1 ? 'assets/images/trofeo.png' : i == 2 ? 'assets/images/mano-corazon.png' : 'assets/images/mano.png'"
                                            alt="">
                                    </div>
                                    <div class="col-12">
                                        <p *ngIf="i == 0" class="text-carrusel">
                                            !Cuentas con <span class="valor-card">${{producto.balanceProduct |
                                                number}}</span> para tu objetivo! <br>
                                            Te recomendamos aportar <strong>$388,000 mensuales</strong> para lograrlo en
                                            <strong>diciembre del 2025.</strong>
                                        </p>
                                        <p *ngIf="i == 1" class="text-carrusel">
                                            !Súper ya tienes los <span class="valor-card">${{producto.balanceProduct |
                                                number}}</span> para tu objetivo! <br>
                                            <strong>Úsalos cuando lo desees.</strong>
                                        </p>
                                        <p *ngIf="i == 2" class="text-carrusel">
                                            !Ya tienes los <span class="valor-card">${{producto.balanceProduct |
                                                number}}</span> para tu objetivo! <br>
                                            Úsalos el <strong>01/ene/26</strong> que finaliza la vigencia de tu póliza.
                                        </p>
                                        <p *ngIf="i >= 3" class="text-carrusel">
                                            ¡Ya lograste un avance de
                                            <span class="valor-card">${{producto.balanceProduct | number}}</span> en tu
                                            objetivo! <br>
                                            Alcanza la meta antes del
                                            <strong>15/jul/26</strong>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>       
                    
                    <!-- Card estática diferente al arreglo de productos -->
                    <div #cardCarrusel class="carrusel-card shadow border card-img"  
                        style="border-bottom: 3px solid #A4D071 !important;">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="assets/images/medalla.png" alt="Medalla" style="margin-top: -25px;">
                                    </div>
                                    <div class="col-6 tag-card-carrusel text-center">
                                        <p style="background-color: #FE9200;">
                                            Productos recomendados
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 carrusel-card-title">
                                ¡Conoce nuevos productos de ahorro e inversión para  <span class="valor-card">Conocer sobrino!</span>
                            </div>
                            
                            <div class="col-12 btn-card d-flex align-items-center justify-content-center">
                                <a href="#" class="text-center">Explora ahora</a>
                            </div>
                        </div>
                    </div>       
                </div>

                <!-- Botón para correr el carrusel a la derecha (habilitado y deshabilitado) -->
                <img src="assets/images/btn-der.png" alt="Botón derecha" class="carrusel-btn carrusel-btn-right" (click)="moverDerecha()" *ngIf="currentTranslate !== maxTranslate">
                <img src="assets/images/btn-der-disabled.png" alt="Botón derecha" class="carrusel-btn carrusel-btn-right" *ngIf="currentTranslate === maxTranslate">
            </div>

            <div class="row text-center d-flex justify-content-center" *ngIf="errorCardList">
                <div class="col-8">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        No se pudo cargar toda la información de los productos. Algunos elementos pueden no estar disponibles.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>

            <!-- Botón principal body -->

            <div class="row">
                <div class="col-12 text-center mb-5">
                    <button class="btn btn-main-body">
                        ASOCIAR OBJETIVO
                    </button>
                </div>
            </div>

            <!-- Estilos para el footer -->
            <div class="row footer-content" style="padding-top: 4rem; padding-bottom: 4rem;">
                <div class="col-12" style="margin-left: 10%; display: grid;">
                    <img src="assets/images/skandia_logo.png" alt="Skandia" class="img-banner" >
                    <span class="mt-4">©  {{year}}  Skandia</span>
                </div>

                <!-- Contácto de la entidad -->
                <div class="col-sm-12 col-lg-4 pt-3 mt-3" style="margin-left: 10%;">
                    PBX: <span class="text-primary-footer">658 4000</span> / <span class="text-primary-footer">484 1300</span> <br>
                    Línea nacional <span class="text-primary-footer">01 8000 517 526</span> <br>
                    Línea Corporativa 658 4123 <br>
                    Av. 19 # 109A - 30 <br>
                    Bogotá D.C., Colombia <br>
                    <span class="fw-bold">Oficinas a nivel nacional</span><br>
                </div>

                <!-- Links informativos de la entidad -->
                <div class="col-sm-12 col-lg-4 pt-3 custom-margin">
                    <ul style="list-style: none; padding: 0; margin: 0;">
                        <li><a class="list-nav-footer" href="#">Términos y Condiciones Canales de Servicio </a> </li>
                        <li><a class="list-nav-footer" href="#">Defensoría del Consumidor Financiero </a> </li>
                        <li><a class="list-nav-footer" href="#">Protección de Datos </a> </li>
                        <li><a class="list-nav-footer" href="#">Definiciones Generales – Auto declaración FATCA y CRS </a> </li>
                        <li><a class="list-nav-footer" href="#">Recomendaciones de Seguridad </a> </li>
                        <li><a class="list-nav-footer" href="#">Ley de Transparencia </a> </li>
                        <li><a class="list-nav-footer" href="#">Mapa del sitio </a></li>
                    </ul>
                </div>

                <!-- Redes sociales de la entidad -->
                <div class="col-sm-12 col-lg-2 d-flex align-items-end justify-content-center mt-2">
                    <a href="#"><img src="assets/images/facebook.png" alt="Facebook" class="img-banner"></a>
                    <a href="#"><img src="assets/images/twitter.png" alt="Twitter" class="img-banner mx-4"></a>
                    <a href="#"><img src="assets/images/youtube.png" alt="Youtube" class="img-banner"></a>
                </div>
            </div>
        </div>
    </div>
</div>