.banner-cielo {
    height: 250px;
    background: url('../../../assets/images/fondo-cielo.jfif') no-repeat center center;
    background-size: cover;
    background-position: 50% 40%;
}

.text-inicio {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: #FFF;
}

.btn-inicio {
    margin-top: 2rem;
    margin-left: 5rem;
}

.card-main {
    background-color: #FFF;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.text-main {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #FFF;
    font-weight: bold;
}

.text-sec {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    color: #FFF;
}

@media (max-width: 767px) {
    .card-main {
        width: 350px;
    }
}

.text-card-main {
    color: #3F3F3F;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 1rem !important;
}

.text-card-link {
    color: #3F3F3F;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    margin: 1rem !important;
    color: #00C83C;
}

.items-card-span {
    text-align: start;
}

.items-card-link {
    text-align: end;
}

@media (max-width: 767px) {

    .items-card-span,
    .items-card-link {
        text-align: center;
    }
}

.text-card-sec {
    color: #363636;
    font-family: 'Verdana', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 1rem !important;
}

.tag-card span {
    font-family: 'Verdana', sans-serif;
    color: rgba(63, 63, 63, 1);
    font-size: 14px;
}

.tag-card p {
    font-family: 'Montserrat', sans-serif;
    color: rgba(63, 63, 63, 1);
    font-size: 14px;
    font-weight: bold;
}

.text-card-footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 200, 60, 1);
}

.text-body-main p {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #3F3F3F;
    font-weight: bold;
}

.text-body-important {
    color: #FE9200;
}

.text-body-secondary {
    font-family: 'Verdana', sans-serif;
    font-size: 16;
    color: #3F3F3F;
}

//Estilos para el carrusel de las cards

.carrusel-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    overflow: hidden;
    position: relative;
    width: calc(100% - 10rem);
    // width: 800px;
}

// @media (max-width: 767px) {
//     .carrusel-container {
//         width: 80% !important;
//     }
// }

.carrusel-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.carrusel-card {
    width: 352px;
    min-height: 150px;
    padding: 20px;
    border-radius: 12px;
    background-color: #F9F9F9;
    margin-right: 20px;
    flex-shrink: 0;
}

.carrusel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    width: 40px;
    height: 40px;
}

.carrusel-btn-left {
    left: 0;
}

.carrusel-btn-right {
    right: 0;
}

.card-img {
    background: url('../../../assets/images/personas-op.webp') no-repeat center center;
    background-size: cover;
}

.tag-card-carrusel {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    border-radius: 4px;
}

//Estilos para las cards

// Modificación de las clases de bootstrap para cambiar el checkbox
:host ::ng-deep .form-check-input {
    width: 1.3em;
    height: 1.3em;
    border: 2px solid #00c83c;
}

// Modificación de las clases de bootstrap para cambiar la acción del checkbox
:host ::ng-deep .form-check-input:checked {
    background-color: #00C83C;
}

.carrusel-card-title {
    color: #363636;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.carrusel-card-subtitle {
    color: #363636;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.carrusel-card-value {
    color: #00C83C;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.card-secondary-carrusel {
    width: 329px;
    background-color: #EDEDED;
    position: relative;
    padding-top: 16px;
    margin-top: 40px;
    text-align: center;
}

.image-container {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
}

.text-carrusel {
    color: #3F3F3F;
    font-family: 'Verdana', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.valor-card {
    color: #db7d02;
    font-weight: bold;
}

.btn-card {
    height: 36px;
    background-color: #00C83C;
    width: 151px;
    border-radius: 18px;
}

.btn-card a {

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
}

// Estilos para el botón principal del body

.btn-main-body {
    background: #E2E2E2;
    width: 260px;
    height: 50px;
    border-radius: 22px;
    color: #3F3F3F;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.btn-main-body:hover {
    background: #00C83C;
    color: #FFF;
}

// Estilos para el footer
.footer-content {
    box-shadow: 0px 0px 6px #00000029;
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    color: #3F3F3F;
    text-align: left;
}

.list-nav-footer {
    color: #3F3F3F;
}

@media (max-width: 1017px) {
    .custom-margin {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.text-primary-footer {
    color: #00C83C;
    font-weight: bold;
}